<div class="container">
<%= "ADD A DOSE" %>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description %>

  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to Cocktail", cocktail_path(@cocktail), class: "btn btn-primary" %>

</div>
